input code for snap

In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
%matplotlib inline




PGH_Neighborhoods_Snap = pd.read_csv ( 'PGH_Neighborhoods_SNAP.csv' )
snap = PGH_Neighborhoods_Snap[['HOOD','Median Home  Value (2010)', 'Median Home Value (2000)' , '% Change Real Value 2000-2010']]

# Load the CSV
PGH_Neighborhoods_Snap = pd.read_csv('PGH_Neighborhoods_SNAP.csv')

# Create a clean dataset with selected columns
snap = PGH_Neighborhoods_Snap[
    [
        'HOOD',
        'Median Home  Value (2010)',
        'Median Home Value (2000)',
        '% Change Real Value 2000-2010'
    ]
]

# Display the first few rows
print(snap.head())

               HOOD Median Home  Value (2010) Median Home Value (2000)  \
0   Central Oakland                  $144,350                  $62,100
1     North Oakland                  $273,000                 $222,423
2      West Oakland                   $61,100                  $47,500
3  Crawford-Roberts                   $94,600                  $70,800
4    Strip District                  $161,800                 $215,900

  % Change Real Value 2000-2010
0                         83.6%
1                         -3.1%
2                          1.6%
3                          5.5%
4                        -40.8%

In [95]:
import pandas as pd

# Load CSV
PGH_Neighborhoods_Snap = pd.read_csv('PGH_Neighborhoods_SNAP.csv')

# Select relevant columns
snap = PGH_Neighborhoods_Snap[
    [
        'HOOD',
        'Median Home Value (2000)',
        'Median Home  Value (2010)',
        '% Change Real Value 2000-2010'
    ]
].copy()

# Create numeric columns for calculation (internal use)
snap['Median_2000_num'] = snap['Median Home Value (2000)'].replace('[\$,]', '', regex=True).astype(float)
snap['Median_2010_num'] = snap['Median Home  Value (2010)'].replace('[\$,]', '', regex=True).astype(float)

# Calculate absolute value change (numeric)
snap['Value Change 2000-2010_num'] = snap['Median_2010_num'] - snap['Median_2000_num']

# Drop rows with missing numeric values
snap = snap.dropna(subset=['Median_2000_num', 'Median_2010_num'])

# Get top 10 neighborhoods by 2010 value
top10_2010 = snap.sort_values(by='Median_2010_num', ascending=False).head(10)

# Keep the original columns with $ and %
top10_2010_display = top10_2010[['HOOD', 'Median Home Value (2000)', 
                                 'Median Home  Value (2010)', 
                                 'Value Change 2000-2010_num', 
                                 '% Change Real Value 2000-2010']].copy()

# Optionally rename numeric value change column for display
top10_2010_display = top10_2010_display.rename(columns={'Value Change 2000-2010_num': 'Value Change 2000-2010'})

# Show the table
print("Top 10 Most Expensive Neighborhoods in 2010 with Original $ and %:")
print(top10_2010_display)

Top 10 Most Expensive Neighborhoods in 2010 with Original $ and %:
                   HOOD Median Home Value (2000) Median Home  Value (2010)  \
65  Squirrel Hill North                 $254,667                  $344,900
1         North Oakland                 $222,423                  $273,000
57            Shadyside                 $153,560                  $264,860
34         Point Breeze                 $164,000                  $240,300
25  Squirrel Hill South                 $134,633                  $201,400
68        Regent Square                 $113,000                  $196,300
37        Highland Park                  $99,900                  $167,400
49           Friendship                 $115,600                  $167,300
4        Strip District                 $215,900                  $161,800
14     South Side Flats                  $77,100                  $153,750

    Value Change 2000-2010 % Change Real Value 2000-2010
65                 90233.0                          7.0%
1                  50577.0                         -3.1%
57                111300.0                         36.2%
34                 76300.0                         15.7%
25                 66767.0                         18.1%
68                 83300.0                         37.2%
37                 67500.0                         32.3%
49                 51700.0                         14.3%
4                 -54100.0                        -40.8%
14                 76650.0                         57.5%

In [94]:
import pandas as pd

# Load CSV
PGH_Neighborhoods_Snap = pd.read_csv('PGH_Neighborhoods_SNAP.csv')

# Select relevant columns
snap = PGH_Neighborhoods_Snap[
    [
        'HOOD',
        'Median Home Value (2000)',
        'Median Home  Value (2010)'
    ]
].copy()

# Clean numeric columns
snap['Median Home Value (2000)'] = snap['Median Home Value (2000)'].replace('[\$,]', '', regex=True)
snap['Median Home  Value (2010)'] = snap['Median Home  Value (2010)'].replace('[\$,]', '', regex=True)

snap['Median Home Value (2000)'] = pd.to_numeric(snap['Median Home Value (2000)'], errors='coerce')
snap['Median Home  Value (2010)'] = pd.to_numeric(snap['Median Home  Value (2010)'], errors='coerce')

# Calculate absolute value change
snap['Value Change 2000-2010'] = snap['Median Home  Value (2010)'] - snap['Median Home Value (2000)']

# Drop rows with missing values
snap = snap.dropna(subset=['Median Home Value (2000)', 'Median Home  Value (2010)'])

# Top 10 neighborhoods in 2010
top10_2010 = snap.sort_values(by='Median Home  Value (2010)', ascending=False).head(10)
print("Top 10 Most Expensive Neighborhoods in 2010 with Value Change:")
print(top10_2010[['HOOD', 'Median Home Value (2000)', 'Median Home  Value (2010)', 'Value Change 2000-2010']])

Top 10 Most Expensive Neighborhoods in 2010 with Value Change:
                   HOOD  Median Home Value (2000)  Median Home  Value (2010)  \
65  Squirrel Hill North                  254667.0                   344900.0
1         North Oakland                  222423.0                   273000.0
57            Shadyside                  153560.0                   264860.0
34         Point Breeze                  164000.0                   240300.0
25  Squirrel Hill South                  134633.0                   201400.0
68        Regent Square                  113000.0                   196300.0
37        Highland Park                   99900.0                   167400.0
49           Friendship                  115600.0                   167300.0
4        Strip District                  215900.0                   161800.0
14     South Side Flats                   77100.0                   153750.0

    Value Change 2000-2010
65                 90233.0
1                  50577.0
57                111300.0
34                 76300.0
25                 66767.0
68                 83300.0
37                 67500.0
49                 51700.0
4                 -54100.0
14                 76650.0

In [96]:
import pandas as pd

# Load CSV
PGH_Neighborhoods_Snap = pd.read_csv('PGH_Neighborhoods_SNAP.csv')

# Select relevant columns
snap = PGH_Neighborhoods_Snap[
    [
        'HOOD',
        'Median Home  Value (2010)',
        'Median Home Value (2000)',
        '% Change Real Value 2000-2010'
    ]
].copy()

# Create numeric column for sorting
snap['Median_2010_num'] = snap['Median Home  Value (2010)'].replace('[\$,]', '', regex=True).astype(float)

# Drop rows with missing numeric values
snap = snap.dropna(subset=['Median_2010_num'])

# Top 10 neighborhoods by 2010 median home value
top10_2010 = snap.sort_values(by='Median_2010_num', ascending=False).head(10)

# Keep the original columns with $ and %
top10_2010_display = top10_2010[['HOOD', 'Median Home  Value (2010)', 
                                 'Median Home Value (2000)', 
                                 '% Change Real Value 2000-2010']]

# Show the table
print("Top 10 Most Expensive Neighborhoods in 2010:")
print(top10_2010_display)

Top 10 Most Expensive Neighborhoods in 2010:
                   HOOD Median Home  Value (2010) Median Home Value (2000)  \
65  Squirrel Hill North                  $344,900                 $254,667
1         North Oakland                  $273,000                 $222,423
57            Shadyside                  $264,860                 $153,560
34         Point Breeze                  $240,300                 $164,000
25  Squirrel Hill South                  $201,400                 $134,633
68        Regent Square                  $196,300                 $113,000
37        Highland Park                  $167,400                  $99,900
49           Friendship                  $167,300                 $115,600
4        Strip District                  $161,800                 $215,900
14     South Side Flats                  $153,750                  $77,100

   % Change Real Value 2000-2010
65                          7.0%
1                          -3.1%
57                         36.2%
34                         15.7%
25                         18.1%
68                         37.2%
37                         32.3%
49                         14.3%
4                         -40.8%
14                         57.5%

In [99]:
rows, cols = pd.read_csv.shape

print("Number of rows:", rows)
print("Number of columns:", cols)

AttributeError: 'function' object has no attribute 'shape'

In [101]:
rows, cols = PGH_Neighborhoods_Snap.shape

print("Total number of rows:", rows)
print("Total number of columns:", cols)

Total number of rows: 90
Total number of columns: 190